*{margin:0;padding:0;list-style: none;font-family: 'Arial';word-break: break-word;font-family: 'PALAT','FZ';}
.body{width:100%;}
.copyright{color: #5e5e5e;font-size: 12px;text-align: center;line-height: 63px;background: #ebe5d9;font-family: 'Arial';}
.classname{display: none;}
